<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>พจนานุกรมคำศัพท์สมัยใหม่</title>
</head>
<body>
    <main>

        {% block main %}{% endblock %}

    </main>
    <script>
      function deleteRow(button, id) {
    console.log("Delete function called with id:", id);  // Debugging line
    var row = button.parentNode.parentNode;

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/delete", true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
        row.parentNode.removeChild(row);
      }
    };
    xhr.send(JSON.stringify({ id: id }));
}

    </script>
</body>
</html>
